.container {
    max-width: 1024px;
    margin: 0 auto;
}

.title_blog {
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

.raw {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col_4 {
    width: calc(100% / 3);
    display: flex;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}

.form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

input {
    border-radius: 10px;
    padding: 10px;
    font-family: "Quicksand";
    font-weight: 300;
}

.post_form {
    min-width: 200px;
}

.submit_form {
    border: none;
    background-color: rgb(8, 31, 73);
    color: white;
    cursor: pointer;
}